.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.678);
    height: 600px;
    width: 1000px;
    margin-top: 50px;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* border:1px solid red */
  }
  .cardsContainer{
    height: 550px;
    width:950px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
    overflow: scroll;
    /* border:1px solid green */
  }
  
  
  @media only screen and (max-width: 768px) {
    .card {
        height: 405px;
        width: 420px;
        margin-top: 30px;
      }
      .cardsContainer{
        height: 385px;
        width:400px;
      }
  }
  @media only screen and (max-width: 480px) {
    .card {
        height: 480px;
        width: 300px;
        /* border:1px solid red */
      }
      .cardsContainer{
        height: 440px;
        width:300px;
        /* border:1px solid green */
      }
  }
  