.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: rgba(255, 255, 255, 0.678);
  height: 600px;
  width: 1000px;
  margin-top: 50px;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgcontainer {
  background-color: rgba(255, 255, 255, 0.678);
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  /* border: 1px solid purple; */
}
.img{
  height: 100%;
  width: 100%;
  border: 8px solid rgba(255, 255, 255, 0.589);
  border-radius: 3%;
}
.itemsContainer {
  background-color: rgba(255, 255, 255, 0.678);
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  flex-direction: column;
  color: rgb(139, 69, 105);
}
.title {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 360px;
  padding: 20px;
  padding-top: 0px;
  font-size: 40px;
}
.descr {
  height: 350px;
  width: 360px;
  /* border: 1px solid green; */
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .container {
    justify-content: center;
    align-items: flex-start;
  }
  .card {
    height: 405px;
    width: 420px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .img {
    height: 280px;
    width: 390px;
    margin-right: 0px;
    margin-top: 15px;
    /* border:1px solid red */

  }
  .itemsContainer {
    height: 180px;
    width: 390px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    /* border:1px solid red */

  }
  .title {
    height: 10px;
    width: 370px;
    padding: 10px;
    font-size: 20px;
    /* border:1px solid red */
  }
  .descr {
    height:90px;
    width: 370px;
    padding: 10px;
    font-size: 13px;
    line-height: unset;
    /* border:1px solid red */
  }
}
@media only screen and (max-width: 480px) {
  .card {
    width: 300px;
    height: 480px;
  }
  .img {
    height: 250px;
    width: 270px;
  }
  .itemsContainer {
    height: 200px;
    width: 270px;
  }
  .title {
    height: 50px;
    width: 230px;
    padding-bottom: 0px;
    padding-top:0px;
    margin-top: 0px;
  }
  .descr {
    width: 230px;
    padding-top: 0px;
  }
}
