.commentContainer {
  /* border: 1px solid yellowgreen; */
  height: 210px;
  width: 350px;
  margin-top: 10px;
  padding-bottom: 5px;
  line-height: 20px;
  font-size: 17px;
  overflow: scroll;
}
.commItem {
  margin:5px;
  padding: 10px;
  background-color: pink;
}
.user {
  margin-top: 0px;
  font-weight: bold;
}
.comment {
  /* border: 1px solid green; */
  height: fit-content;
  max-height: 80px;
  margin: 0px;
  margin-top: 0px;
  margin-top: 5px;
  overflow: scroll;
}
