.commentContainer {
  /* border: 1px solid yellowgreen; */
  height: 210px;
  width: 350px;
  margin-top: 10px;
  padding-bottom: 5px;
  line-height: 20px;
  font-size: 17px;
  overflow: scroll;
}
.noComment {
  margin-top: 20px;
}
.commItem {
  margin-top: 5px;
  padding: 10px;
  background-color: rgba(218, 169, 192, 0.233);
}
.user {
  margin-top: 0px;
  font-weight: bold;
}
.comment {
  /* border: 1px solid green; */
  height: fit-content;
  max-height: 80px;
  margin: 0px;
  margin-top: 0px;
  margin-top: 5px;
  overflow: scroll;
}

@media only screen and (max-width: 768px) {
  .commentContainer {
    width: 300px; 
    max-height: 100px;
    margin-top: 3px;
    padding-bottom: 5px;
  }
  .noComment {
    margin-top: 10px;
  }
  .commItem {
    margin-top: 3px;
    padding: 5px;
  }
  .comment {
    margin-top: 3px;
  }
}
@media only screen and (max-width: 480px) {
  .commentContainer {
    height: fit-content;
    width: 215px;
    line-height: 13px;
    font-size: 10px;  
  }
  .noComment {
    margin-top: 5px;
  }
}
