.navContainer {
  display: flex;
  align-items: center;
  height: 90px;
  flex-direction: row;
  width: 100%;
  background-color: rgba(253, 253, 253, 0.342);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.burgerContainer {
  display: none;
}
.liContainerLeft {
  list-style-type: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid yellow; */
  width: 50%;
  /* padding-left: 100px; */
  height: 100%;
}
.liContainerRight {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
}
.liContainerRight > *,
.liContainerLeft > * {
  text-decoration: none;
  color: rgb(138, 86, 113);
  margin-left: 80px;
  margin-right: 80px;
}
.liContainerRight > *:hover,
.liContainerLeft > *:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .liContainerRight,
  .liContainerLeft {
    display: none;
  }
  .navContainer {
    position: relative;
  }
  .burgerContainer {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 18px;
    margin-left: 20px;
    position: absolute;
    top: 15px;
  }
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 5%;
  }
  .burgerActive {
    border: none;
    background-color: rgba(138, 86, 113, 0.815);
  }
  .burgerBarre {
    width: 40px;
    height: 3px;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .navLinks {
    text-decoration: none;
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, 0.582);
  }
  .navLinks > * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgb(138, 86, 113);
    height: 50px;
    width: 70px;
    padding: 20px;
  }
  .about{
      border-top:1px solid white;
      border-bottom:1px solid white;
  }
}
