
html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.236),
      rgba(250, 195, 222, 0.636)
    ),
    url("./1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(236,212,226);
}
#cont{
  width:100%;
  display: flex;
  justify-content: center;  
}